.detailedServiceReport{

}

.column1{
    text-align: left;
}
.serviceText{
    color: #1A3447;
    font-weight: 100;
    padding-left: 10px;
}

.SignatureText{
    color: #1A3447;
    font-weight: 100;
    
}
.SignatureButton{
    background-color: #FF6370;
    border-radius: 5px;
    color: white;


}

.SignatureRow{
    margin-top: 20px;
    text-align: left;
}

.ServiceReportDetailsRow{
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 20px 0 rgb(8 45 61 / 17%);
}
.BackButton{
    /* display: flex; */
    padding: 10px;
    border: 1px solid aliceblue;
    background-color: white;
}

.imageRow{
    margin-top: 20px;
}

.pilot-div{
    background-color: white;
    padding-top: 5%;
    justify-content: left;
    text-align: left;
    padding-left: 4%;

}

.viewMore{
    width: 40%;
    background-color: #FF6370;
    border-radius: 5px;
    color: white;
}

.button-div{
    padding-left: 4%;
    padding-top: 10%;
}