.login{
    height: 100%;
    width: 90%;
    border-radius: 46px;
    padding: 20px;
}

.form{
    padding-top: 100px;
    padding-left: 40px;
}
.image-width{
    height: 700px;
    width: 600px;
}
.button-login{
    margin-top:10px;
    width: 100%;
    height:40px;
    /* margin-left: -40%; */
    background-color: #1A3447;
    color: white;
}

.login-container{
    padding: 20px;
}

.button-signup{
    margin-top:10px;
    width: 100%;
    height:40px;
    /* margin-left: -40%; */
    /* background-color: #1A3447; */
    /* color: white; */
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #1A3447;
}
.roleDropdown{
    padding: 7px;
    background-color: #e5e5e5;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
}

.inputDate{
    padding: 5px;
    background-color: #e5e5e5;
    border: 0.5px solid grey;
    border-radius: 5px;
}